---
interface Resource {
  title: string;
  file: string;
  type: "zip" | "pdf";
  status: "active" | "draft";
}

interface Props {
  resources: Resource[];
}

const { resources } = Astro.props;
---

{
  resources.length > 0 && (
    <section class="resources" aria-labelledby="resources-heading">
      <h2 id="resources-heading">Ressourcen</h2>
      <ul class="resource-list">
        {
          resources.map((resource) => (
            <li class="resource-item">
              <span class="resource-item__label">
                <svg viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M6 2h9l5 5v15H6z"></path>
                  <path d="M15 2v5h5"></path>
                </svg>
                {resource.title}
              </span>
              <a class="button" href={resource.file} download>
                Download
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  )
}
